name: Notify Parent Repo

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger update on parent repo
        run: |
          curl -X POST \
           -H "Accept: application/vnd.github+json" \
           -H "Authorization: Bearer ${{ secrets.PARENT_TOKEN }}" \
           https://api.github.com/repos/Natsukie-7/Nat-chat-Project/dispatches \
           -d '{"event_type": "update_submodules"}'
